
* {
    box-sizing: border-box;
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }

  nav {

    background-color: white;
    display: flex;
    padding-bottom: 25px;
  	color: black;
  	font-size: 18px;
  	text-align: center;
    word-spacing: 50px;
  }


  body{
    background-color:#f2f1e8;
    }

  form{
    padding-top: 45px;
  }

  h1{
    padding-top: 20px;
  }

  #logo{
    background-image: url(../images/bent-creek-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 18px;
    padding-right: 15px;
    padding-bottom: 13px;
  }

  .links{
    font-size: 15px;
    padding-top: 24px;
    padding-left: 442px;
    text-align: center;
  }

  .section-one{
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    flex-wrap: wrap;

    }

  h2{
    color: #2b2f26;
    font-weight: normal;
    font-family: "merriweather";
    text-align: center;
    font-size: 95px;
    padding-bottom: 100px;
}

  h4{

    padding-top: 20px;
    padding-bottom: 20px;
    font-size:35px;
    font-weight:lighter;
}

  a{
	  font-family: 'Roboto', sans-serif;
	  margin: 0 10px;
	  text-align: center;
}

  a.link{
    color: #6a6b62;
}

  a.active{
    color:#aa9072;
}

  p{

    font-size: 25px;
  }

  .birdhouse{
    display:flex;
    flex-wrap:wrap;
    background-image: url(../images/birdhouse.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-bottom: 30px;
  }

  .birdtext{
    margin-left: 200px;
    font-size: 25px;
    }

  .vertical-line{
    display:flex;
    flex-wrap:wrap;
    border-left: solid #2b2f26;
    }

  .mission{
    font-style: italic;
    font-family: 'Merriweather', serif;
    width: 76%;
    font-size: 20px;
    margin-left: 38px;
    font-weight: lighter;

}



  aside{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    background-image:url("../images/background-1.jpg");
    background-size: contain;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
}

  .aside-image{
   margin-top: 95px;
   padding: 25px;

}

  footer{
	 background-color: #2b2f26;
	 color: white;
	 padding: 10px 0;
	 text-align: left;
	 width: 100%;
   padding-top:45px;
   padding-bottom:45px;
}

  .footer-text{
    font-size: 20px;
    padding-left:25px;
  }

  .room-to-grow{
  font-size:60px;
  justify-content: center;
  color: white;
  display:flex;
  flex-wrap: wrap;
  margin-top: 35px;
  padding: 150px;
  margin-bottom: 35px;
  background-image: url(../images/background-3.jpg);
  background-size: cover;
  }



table, th, td, tr{
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  padding:15px;
}

td{
  padding:15px;
}

  .section-two{
    margin-left: 120px;
    margin-right: 120px;
    flex-direction:row;
    display: flex;
    flex-wrap: nowrap;
  }

  .monthly-plans{
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 50px;
  }

  .history{
    padding-top: 30px;
  }
