
*{
  box-sizing: border-box;
}
* {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }

  nav {
    background-color: white;
    display: flex;
    padding-bottom: 25px;
  	color: black;
  	font-size: 18px;
  	text-align: center;
    word-spacing: 50px;
  }

  .links{
    font-size: 15px;
    padding-top: 24px;
    padding-left: 442px;
    text-align: center;
  }

  #logo{
    background-image: url(../images/bent-creek-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }

.container {
  padding-top: 60px;
  background-image: url('../images/background-2.jpg');
	background-size: cover;
	height: 100%;
}

.contact-form {
  padding-top: 45px;
  padding-bottom: 191px;
  background-color: white;
	margin: 0 auto;
  text-align: center;
	width: 50%;
}

h2{
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: lighter;
}

h3{
  padding-top: 15px;
  padding-bottom: 25px;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: lighter;
}


a {
	font-family: 'Roboto', sans-serif;
	margin: 0 10px;
	text-align: center;
}

a:link{
  color: #6a6b62;
}

a:active{
  color:#aa9072;
}


form {
	width: 100%;
}


input {
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	width: 75%;
}
